html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  font-size: $font-m;
  
  font-weight: 300;
  line-height: 1.5;

  background: $veryDarkBlueMain;
  color: $softBlue;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: $white;
  transition: color 200ms ease-in-out;

  &:hover {
    color: $cyan;
  }
}


p {
  margin: 0px;
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}