// Colors
$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

$veryDarkBlueMain: hsl(217, 54%, 11%);
$veryDarkBlueCard: hsl(216, 50%, 16%);
$veryDarkBlueLine: hsl(215, 32%, 27%);

$white: hsl(0, 0%, 100%);


// Font sizes
$font-sm: 16px;
$font-m: 18px;
$font-l: 21px;
